@font-face {
  font-family: "Averta";
  src: url("../fonts/AnyConv.com__FontsFree-Net-AvertaDemoPECuttedDemo-Regular.eot");
  src: local("0"), url("../fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.woff") format("woff"), url("../fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf") format("truetype"), url("../fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("0"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
::-webkit-scrollbar-track {
  background-color: #5e5372;
  opacity: 0 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2639ED;
}

::-webkit-scrollbar {
  width: 4px !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-size: calc(30px + 10 * (100vw - 320px) / 930);
  font-weight: 400;
  margin-bottom: 25px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

html,
body {
  height: 100%;
  min-width: 300px;
}

body {
  color: #000;
  font-family: "Averta";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1199.98px;
  margin: 0 auto;
}

@media (max-width: 1229.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 116px;
  color: #000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  display: flex;
  z-index: 15;
}

.header__logo h3::first-letter {
  font-family: "Proxima";
  font-weight: 700;
}

.header__logo h3 {
  font-family: "Averta";
  font-weight: 0;
  font-size: 27px;
  line-height: 33px;
}

.header__menu {
  font-weight: 400;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 5px;
}

.menu__item {
  cursor: pointer;
  position: relative;
}

.menu__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease 0s;
}

.menu__item:hover::before {
  width: 100%;
  transition: width 0.3s ease 0s;
}

.menu__icon {
  display: none;
}

@media (max-width: 991.98px) {
  .menu__icon {
    display: block;
    z-index: 15;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: transform 0.3s ease 0s;
    background-color: #000;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0);
    transition: 0.3s ease 0s;
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    z-index: 13;
    top: 116px;
    left: -100%;
    height: calc(100% - 116px);
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
    padding: 10px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 116px;
    background-color: #fff;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active::after {
    left: 0;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__list > li {
    margin: 0px 0px 30px 0px;
    font-size: calc(24px + 10 * (100vw - 320px) / 448);
  }
  .menu__list > li:last-child {
    margin-bottom: 0px;
  }
  .banner__tapes img {
    filter: blur(4px);
  }
  .banner__content {
    max-width: 550px;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(520px + 220 * (100vw - 1399.98px) / 520.02);
  max-height: 744px;
  min-height: 535px;
  overflow: visible;
}

.banner__tapes {
  flex: 50% 50% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__tapes .banner__img {
  position: relative;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -4px;
  min-height: 530px;
  width: calc(51.5% + 13.5 * (100vw - 1400px) / 520);
  max-width: 1055px;
  min-width: 744px;
}
.banner__tapes .banner__img img {
  min-height: 530px;
  width: 100%;
  max-width: 1055px;
  min-width: 744px;
}
.banner__tapes .banner__img::before {
  content: "";
  position: absolute;
  width: 129px;
  height: 129px;
  border-radius: 50%;
  z-index: -2;
  top: 0%;
  left: -8%;
  background-color: #DAE9FF;
}

.content-info {
  position: relative;
  width: calc(220px + 240 * (100vw - 991.98px) / 728.02);
}

@media (max-width: 991.98px) {
  .banner__content {
    width: 550px;
  }
}
.banner__title {
  margin-bottom: calc(30px + 10 * (100vw - 320px) / 930);
}

.info-text {
  margin-bottom: calc(20px + 10 * (100vw - 320px) / 930);
}

.info-btn button {
  height: 65px;
  width: 215px;
  border-radius: 60px;
  padding: 20px 40px 20px 40px;
  background-color: #2639ED;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.065em;
  text-align: left;
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
  transition: all 0.3s ease 0s;
}
.info-btn button:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.65));
  transition: all 0.3s ease 0s;
}
.info-btn button:active {
  transform: scale(0.98);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
  transition: all 0.3s ease 0s;
}
.info-btn button {
  cursor: pointer;
}

.dots-block {
  position: absolute;
  width: 408px;
  height: 160px;
}
.dots-block ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 14px;
       column-gap: 14px;
  row-gap: 14px;
}
.dots-block ul li {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #E7F0FC;
}

.banner__dots-block {
  z-index: -2;
  top: 90%;
  left: -50px;
}

.sponsors {
  position: relative;
  min-height: 124px;
  display: flex;
  -moz-column-gap: 46px;
       column-gap: 46px;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(80px + 56 * (100vw - 320px) / 930);
}

.sponsors::before {
  content: "";
  position: absolute;
  top: -200px;
  right: 0;
  z-index: -2;
  width: 178px;
  height: 178px;
  background: #FFF5DB;
  border-radius: 0px 0px 100px;
}

.sponsors__content {
  width: 350px;
}

.sponsors__logo {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 55px;
       column-gap: 55px;
  justify-content: space-between;
}

.sponsor-logo__item {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sponsors__logo div:last-child {
  align-items: flex-end;
}

@media (max-width: 1229.98px) {
  .sponsors {
    display: block;
  }
  .sponsors__content {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .sponsors__logo {
    -moz-column-gap: calc(10px + 45 * (100vw - 320px) / 980);
         column-gap: calc(10px + 45 * (100vw - 320px) / 980);
  }
  .sponsors__content {
    text-align: center;
  }
}
@media (max-width: 750.98px) {
  .sponsors__logo {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 369.98px) {
  .sponsors__logo {
    display: block;
    text-align: center;
  }
}
.services {
  min-height: 840px;
  width: 100%;
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.services::before {
  content: "";
  position: absolute;
  right: 0;
  z-index: -2;
  width: 72%;
  height: 620px;
  background-color: #F4F9FF;
  border-radius: 150px 0px 0px 0px;
}

.services__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 840px;
}

.services__wrap::before {
  content: "";
  position: absolute;
  top: 32%;
  left: -38px;
  width: 178px;
  height: 178px;
  background: #FFF5DB;
  border-radius: 100px 0px 0px 0px;
}

.services__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 840px;
}

.services__dots-block {
  z-index: -3;
  bottom: 60px;
  left: 0;
}

.services__types {
  min-height: 840px;
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  padding: 0px 20px 0px 20px;
}

.services__column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.column__one {
  justify-content: flex-end;
}

.services__element {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 379px;
  width: 308px;
  border-radius: 40px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 40px 40px 50px 40px;
}

.services__element.services__element_circle::before {
  content: "";
  position: absolute;
  right: -30px;
  bottom: -30px;
  z-index: -3;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 8.8px solid #FF007A;
}

.element__icon {
  width: 121px;
  height: 121px;
  background: #F1F7FF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.element__title {
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  .services__wrap {
    display: block;
    text-align: center;
    align-items: center;
  }
  .services__types {
    justify-content: space-between;
  }
  .services__info {
    width: 100%;
  }
}
@media (max-width: 733.98px) {
  .services__types {
    display: block;
  }
  .services__info {
    text-align: center;
  }
  .services__element {
    width: 100%;
  }
  .services__column_first-column {
    margin-bottom: 20px;
  }
}
@media (max-width: 398.98px) {
  .services__element {
    padding: 20px 20px 25px 20px;
  }
}
.video-wrap__element {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: calc(40px + 79 * (100vw - 320px) / 930);
       column-gap: calc(40px + 79 * (100vw - 320px) / 930);
  margin-top: 150px;
  margin-bottom: calc(90px + 90 * (100vw - 320px) / 1600);
}

.video-wrap__element.video-wrap__element_second-elem {
  flex-direction: row;
}

.video__file {
  position: relative;
  min-width: 550px;
  max-width: 550px;
  max-height: 372px;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
}

.video__file::before {
  content: "";
  position: absolute;
  bottom: -60px;
  right: -40px;
  z-index: -2;
  width: 129px;
  height: 129px;
  border-radius: 50%;
  background: #FFF5DB;
}

.video-iframe {
  border-radius: 32px;
  overflow: hidden;
  cursor: pointer;
}

.video__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video__title {
  position: relative;
}

.video__title::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: -2;
  width: 178px;
  height: 178px;
  background: #EFF1FF;
  border-radius: 0px 0px 100px 0px;
}

.video-iframe {
  position: relative;
  padding: 0px 0px 67.7% 0px;
}
.video-iframe .video-iframe__wrap,
.video-iframe .video-iframe__img-plug {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-iframe .video-iframe__img-plug {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.video-iframe .video-iframe__img-plug.removed__img {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.video-iframe .video-iframe__img-plug:hover img {
  opacity: 1;
  transform: scale(1.1);
}
.video-iframe .video-iframe__img-plug:active img {
  transform: scale(1.02);
}
.video-iframe .video-iframe__img-plug img {
  width: 70px;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
  filter: drop-shadow(-8px 8px 3px rgba(0, 0, 0, 0.573));
}

.video-iframe__img-plug.removed__img {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.video-iframe__img-plug {
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 32px;
}

@media (max-width: 991.98px) {
  .video-wrap,
  .video-wrap__element {
    display: block;
    text-align: center;
  }
  .video__file {
    min-width: 550px;
    max-width: 550px;
  }
  .video__file {
    margin: 0 auto;
  }
}
@media (max-width: 733.98px) {
  .video__file {
    min-width: 0px;
  }
  .video__file {
    min-width: 0px;
  }
}
.coments {
  width: 100%;
}

.coments__header {
  text-align: center;
  margin-bottom: calc(60px + 30 * (100vw - 320px) / 1600);
}

.coments__content {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 100%;
  margin-bottom: 90px;
}

.coments__avatar {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  border-radius: 500px 0px 500px 500px;
}

#_icon-1 {
  background-image: url(../img/avatar1_1.png);
  background-position: 100% 50%;
}

#_icon-2 {
  background-image: url(../img/avatar2_1.png);
  background-position: 100% 50%;
}

#_icon-3 {
  background-image: url(../img/avatar3_1.png);
  background-position: 100% 44%;
}

#_icon-4 {
  background-image: url(../img/avatar4_1.png);
  background-position: 60% 50%;
}

#_icon-5 {
  background-image: url(../img/avatar5_1.png);
  background-position: 100% 50%;
}

#_icon-7 {
  background-image: url(../img/avatar7_1.png);
  background-position: 100% 50%;
}

#_icon-8 {
  background-image: url(../img/avatar8_1.png);
  background-position: 100% 50%;
}

#_icon-9 {
  background-image: url(../img/avatar9_1.png);
  background-position: 100% 50%;
}

.coments__avatar._active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  filter: drop-shadow(10px 20px 50px rgba(0, 0, 0, 0.15));
  border-radius: 500px 0px 500px 500px;
}
.coments__avatar._active img {
  width: 350px;
}

.coments__avatar-wrap {
  position: relative;
  width: 350px !important;
}

.coments__avatar-wrap::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.coments__avatar-wrap::before {
  content: "";
  position: absolute;
  z-index: -3;
  box-sizing: border-box;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  left: -4%;
  top: 65%;
  border: 8.8px solid #FF007A;
}

.coments__dots-block {
  width: 208px;
  height: 260px;
  right: -45px;
  top: -35px;
  z-index: -3;
}
.coments__dots-block ul li {
  background-color: #F4F4F4;
}

.coments__info-wrap {
  position: relative;
  width: 34.33%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: height 0.3s ease 0s;
}

.coments__item {
  position: absolute;
  max-height: 300px;
  overflow: auto;
}

.coment__item-text {
  margin-bottom: 40px;
  height: 12.5rem;
}

.coments__item {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.coments__item._active {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease 0s;
}

.coment__item-text {
  max-height: 250px;
  overflow: auto;
}

.coments__icon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coments__icon-block {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.coments__icon-block::before {
  content: "";
  position: absolute;
  width: 184px;
  height: 184px;
  left: 5%;
  top: 31%;
  border-radius: 50%;
  background: #FFF5DB;
}

.coments__icon-item {
  position: absolute;
  width: 58px;
  height: 58px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.coments__icon-item._icon-1 {
  background-image: url(../img/avatar1_1.png);
  background-position: 100% 50%;
  top: 92%;
  left: 50%;
}

.coments__icon-item._icon-2 {
  background-image: url(../img/avatar2_1.png);
  background-position: 100% 50%;
  top: 8%;
  left: 50%;
}

.coments__icon-item._icon-3 {
  background-image: url(../img/avatar3_1.png);
  background-position: 100% 44%;
  top: 20%;
  left: 80%;
}

.coments__icon-item._icon-4 {
  background-image: url(../img/avatar4_1.png);
  background-position: 60% 50%;
  top: 50%;
  left: 92%;
}

.coments__icon-item._icon-5 {
  background-image: url(../img/avatar5_1.png);
  background-position: 100% 50%;
  top: 80%;
  left: 80%;
}

.coments__icon-item._icon-7 {
  background-image: url(../img/avatar7_1.png);
  background-position: 100% 50%;
  top: 80%;
  left: 20%;
}

.coments__icon-item._icon-8 {
  background-image: url(../img/avatar8_1.png);
  background-position: 100% 50%;
  top: 50%;
  left: 8%;
}

.coments__icon-item._icon-9 {
  background-image: url(../img/avatar9_1.png);
  background-position: 100% 50%;
  top: 20%;
  left: 20%;
}

.coments__icon-item._active {
  width: 140px !important;
  height: 140px !important;
  opacity: 1 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  cursor: auto;
}

@media (max-width: 1229.98px) {
  .coments__content {
    flex-wrap: flex;
    flex-direction: row-reverse;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 30px;
    width: 100%;
  }
  .coments__info-wrap {
    width: 53.33%;
  }
  .coments__icon-wrap {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .avatar__coment-block {
    -moz-column-gap: calc(15px + 35 * (100vw - 320px) / 930);
         column-gap: calc(15px + 35 * (100vw - 320px) / 930);
  }
  .coments__avatar-wrap {
    display: none;
  }
  .coments__avatar,
  .coments__avatar._active {
    display: none;
  }
  .coments__icon-item._active {
    width: 200px !important;
    height: 200px !important;
  }
  .coments__icon-block::before {
    left: -4%;
    top: 25%;
  }
}
@media (max-width: 681.98px) {
  .coments__header {
    margin-bottom: calc(20px + 95 * (100vw - 320px) / 1600);
  }
  .coments__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 0px 0px;
  }
  .coments__content .coment__item-text {
    height: 100px;
  }
  .coments__info-wrap {
    width: 100%;
  }
  .coments__item {
    text-align: center;
  }
  .coments__item._active {
    position: relative;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;
  }
  .coment__item-text {
    margin-bottom: 0;
  }
}
@media (max-width: 601.98px) {
  .coment__item-text {
    position: unset;
  }
  .avatar__coment-block {
    position: relative;
  }
}
@media (max-width: 398.98px) {
  .coments__icon-block {
    width: calc(290px + 60 * (100vw - 320px) / 99) !important;
    height: calc(290px + 60 * (100vw - 320px) / 99) !important;
    min-width: 220px;
    min-height: 220px;
  }
  .coments__icon-item {
    width: calc(58px + 10 * (100vw - 320px) / 99) !important;
    height: calc(58px + 10 * (100vw - 320px) / 99) !important;
    min-width: 45px;
    min-height: 45px;
  }
  .coments__icon-item._active {
    width: calc(160px + 40 * (100vw - 320px) / 99) !important;
    height: calc(160px + 40 * (100vw - 320px) / 99) !important;
    min-width: 100px;
    min-height: 100px;
  }
}
.news__wrap {
  position: relative;
  width: 100%;
  height: 292px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 80px;
       column-gap: 80px;
  margin-top: 90px;
  background-color: #F4F9FF;
  border-radius: 75px;
  margin-bottom: 100px;
}

.news__wrap::before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -38px;
  left: -38px;
  width: 178px;
  height: 178px;
  background: #FFF5DB;
  border-radius: 0px 0px 0px 100px;
}

.news__wrap::after {
  content: "";
  position: absolute;
  z-index: -2;
  top: -56px;
  right: -37px;
  width: 175px;
  height: 154px;
  background-image: url(../img/dots.png);
}

.news__info-block {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.news__button-block {
  width: 500px;
  height: 292px;
  background-color: #2639ED;
  border-radius: 140px 77px 77px 140px;
  position: relative;
}

.email-address {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  width: 479px;
  height: 80px;
  top: 50%;
  left: -76px;
  transform: translate(0%, -50%);
  border-radius: 60px;
  padding: 0px 10px 0px 34px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.email-address__text {
  height: 26px;
  padding: 0px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #959595;
  outline: 0;
}

input.error {
  color: red;
  background-color: transparent;
}

input.error::-moz-placeholder {
  color: red;
  background-color: transparent;
}

input.error::placeholder {
  color: red;
  background-color: transparent;
}

.email-address__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 66px;
  background-color: #2639ED;
  border-radius: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
  transition: filter 0.3s ease 0s;
  cursor: pointer;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
}

.email-address__button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.85));
  transition: filter 0.3s ease 0s;
}

.email-address__button:active {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.55));
  transition: filter 0.3s ease 0s;
}

@media (max-width: 1229.98px) {
  .news__info-block {
    padding-left: 40px;
  }
}
@media (max-width: 892.98px) {
  .news__wrap {
    padding-top: 15px;
  }
  .news__info-block {
    padding-left: 0px;
  }
  .news__wrap {
    width: 100%;
    height: auto;
    min-height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
  }
  .news__info-title {
    text-align: center;
  }
  .news__info-text {
    text-align: center;
    margin-bottom: 30px;
  }
  .news__button-wrap {
    display: flex;
    justify-content: flex-end;
    width: 600px;
  }
  .news__button-block {
    position: relative;
  }
}
@media (max-width: 630.98px) {
  .news__button-wrap {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .email-address__button {
    flex: 0 0 auto;
  }
  .news__button-block {
    width: 90%;
    min-width: 300px;
    height: 246px;
    min-height: 200px;
  }
  .email-address {
    width: 110%;
    left: -56px;
  }
}
@media (max-width: 489.98px) {
  .news__wrap {
    border-radius: 25px;
  }
  .news__button-wrap {
    position: relative;
  }
  .news__button-block {
    position: static;
    width: 0px;
    min-width: 0px;
    height: 246px;
    min-height: 200px;
  }
  .news__info-text {
    margin-bottom: 0px;
  }
  .email-address {
    flex-direction: column;
    justify-content: space-around;
    -moz-column-gap: 100px;
         column-gap: 100px;
    width: 100%;
    height: 150px;
    left: 0px;
  }
  .email-address__text {
    height: 36px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.company__info {
  flex: 0 1 300px;
  max-width: 500px;
}

.company__info > .header__logo {
  margin-bottom: 30px;
}

.follows__items {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-bottom: 20px;
}

.follow__item {
  width: 36px;
  height: 36px;
  transition: transform 0.3s ease 0s;
}

.follow__item:hover {
  transform: scale(1.1);
}

.user__help-info {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 4%;
       column-gap: 4%;
  flex: 1 1 auto;
}

.user__help-column {
  margin-bottom: 40px;
}

.user__help-title {
  margin-bottom: 30px;
}

.user__help-link a {
  color: #000;
  position: relative;
  transition: all 0.3s ease 0s;
}

.user__help-link a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.user__help-link a:hover::before {
  opacity: 1;
  transition: all 0.3s ease 0s;
}

.user__help-link:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 991.98px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .company__info {
    flex: 1 1 auto;
  }
  .user__help-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -moz-column-gap: 4%;
         column-gap: 4%;
    flex: 1 1 auto;
  }
  .follows__items {
    margin-bottom: 40px;
  }
}
@media (max-width: 489.98px) {
  .company__info > .header__logo {
    justify-content: center;
  }
  .company__info {
    text-align: center;
  }
  .user__help-title {
    margin-bottom: 20px;
  }
  .user__help-info {
    flex-direction: column;
    text-align: center;
  }
  .follows__items {
    justify-content: center;
  }
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(15.5px);
          backdrop-filter: blur(15.5px);
  top: 0;
  left: 0;
  z-index: 21;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.popup._open {
  opacity: 1;
  visibility: visible;
  overflow: auto;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__body .card__phone {
  position: absolute;
  top: auto;
  right: auto;
  width: 200px;
  height: 250px;
}
.popup__body .card__phone .card__send-wrapper:not(:last-child) {
  margin-bottom: 0.5rem;
}
.popup__body .card__phone .card__send-wrapper {
  height: 2.8125rem;
  position: relative;
  margin-right: 0;
}
.popup__body .card__phone .card__send-wrapper .input__wrapper {
  position: relative;
  height: 100%;
}
.popup__body .card__phone .card__send-wrapper .input__wrapper input {
  height: 100%;
  background: rgb(238, 210, 193);
}
.popup__body .card__phone .card__send-wrapper .input__wrapper.error:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -2;
  animation: animatedGradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.popup__body .card__phone .card__send-wrapper input::-moz-placeholder {
  font-size: 1rem;
}
.popup__body .card__phone .card__send-wrapper input,
.popup__body .card__phone .card__send-wrapper input::placeholder,
.popup__body .card__phone .card__send-wrapper input:focus {
  font-size: 1rem;
}
.popup__body .card__phone .card__send-wrapper input:focus {
  color: #000;
}
.popup__body .card__phone .form-btn-send:not(:last-child) {
  margin-bottom: 0.5rem;
}
.popup__body .card__phone button {
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #E89F71;
  cursor: pointer;
  color: #2a302e;
}
.popup__body .card__phone._position {
  position: absolute;
  top: 200px;
  right: 0;
  width: 200px;
  height: 250px;
}
.popup__body .card__phone._positionTwo {
  top: auto;
  right: auto;
  width: 200px;
  height: auto;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.close-popup {
  position: relative;
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.close__btn:after,
.close__btn:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 7px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  background-color: #32b5a4;
  transition: all 0.3s ease 0s;
}

.close__btn:after {
  transform: scale(1) rotate(-45deg) translate(-50%, -50%);
}

.close__btn:before {
  transform: scale(1) rotate(45deg) translate(-50%, -50%);
}

.close__btn:hover::before {
  transform: scale(1.1) rotate(45deg) translate(-50%, -50%);
  transition: all 0.3s ease 0s;
}

.close__btn:hover::after {
  transform: scale(1.1) rotate(-45deg) translate(-50%, -50%);
  transition: all 0.3s ease 0s;
}

.close__btn:active::before {
  transform: scale(1.02) rotate(45deg) translate(-50%, -50%);
  transition: all 0.3s ease 0s;
}

.close__btn:active::after {
  transform: scale(1.02) rotate(-45deg) translate(-50%, -50%);
  transition: all 0.3s ease 0s;
}

@media (max-width: 47.99875em) {
  .popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }
}
.popup-form {
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-form .popup__body .popup__content {
  /* background-color: #fff; */
  color: #000;
  /* max-width: 800px; */
  position: relative;
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  /* border-radius: 5px; */
  background-color: #304352;
  color: #fefefe;
  /* font-family: inherit; */
  font-size: 1rem;
  border: 2px solid #f8bb86;
  /* transition: all 0.4s ease 0s; */
  transition: 0.6s cubic-bezier(0.44, -0.24, 0.65, 1.38);
}
.popup-form .popup__body .popup__content p {
  color: #FFF;
}
.popup-form .popup__body .popup__content .popup__icon-wrap {
  display: flex;
  position: relative;
  box-sizing: content-box;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin: 2.5em auto 2.6em;
  border: 0.25em solid transparent;
  border-radius: 50%;
  color: #f8bb86;
  font-family: inherit;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.popup-form .popup__body .popup__content .popup__icon-wrap .icon-element__line_success_small {
  top: 2.875em;
  left: 0.8125em;
  width: 1.5625em;
  transform: rotate(45deg);
  display: block;
  position: absolute;
  z-index: 2;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #a5dc86;
  transition: all 0.5s ease 0s;
}
.popup-form .popup__body .popup__content .popup__icon-wrap .icon-element__line_success_big {
  top: 2.375em;
  right: 0.5em;
  width: 2.9375em;
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  z-index: 2;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #a5dc86;
  transition: all 0.5s ease 0s;
}
.popup-form .popup__body .popup__content .popup__icon-wrap .icon-element__ring {
  position: absolute;
  z-index: 2;
  top: -0.25em;
  left: -0.25em;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: 0.25em solid rgba(165, 220, 134, 0.3);
  border-radius: 50%;
}
.popup-form .popup__body .popup__content .popup__icon-wrap_warning {
  border-color: #f8bb86;
}
.popup-form .popup__body .popup__content .popup__icon-wrap_warning .popup__icon-block_warning {
  display: flex;
  align-items: center;
  font-size: 3.75em;
  line-height: 1.125rem;
}
.popup-form .popup__body .popup__content .popup__icon-wrap_error {
  border-color: #f27474;
}
.popup-form .popup__body .popup__content .popup__icon-wrap_error .popup__icon-block_error {
  width: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-form .popup__body .popup__content .popup__icon-wrap_error .popup__icon-block_error .icon-element__line {
  display: block;
  position: absolute;
  top: 2.3125em;
  width: 2.9375em;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #f27474;
}
.popup-form .popup__body .popup__content .popup__icon-wrap_error .popup__icon-block_error .icon-element__line_error_left {
  left: 1.0625em;
  transform: rotate(45deg);
}
.popup-form .popup__body .popup__content .popup__icon-wrap_error .popup__icon-block_error .icon-element__line_error_right {
  left: 1.0625em;
  transform: rotate(-45deg);
}
.popup-form .popup__body .popup__content .popup__title p {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  line-height: 2rem;
  text-align: center;
  margin: 1.5rem 1.875rem 0 1.875rem;
}
.popup-form .popup__body .popup__content .popup__text p {
  display: flex;
  justify-content: center;
  margin: 1rem 1.5rem 0.3125rem;
  line-height: 1.5rem;
  text-align: center;
}
.popup-form .popup__body .popup__content .popup__button-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}
.popup-form .popup__body .popup__content .popup__button-wrap .popup__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 0;
  background: initial;
  font-size: 1em;
  height: auto;
  color: #fefefe;
  padding: 7px 14px 7px 14px;
  margin: 20px 0px 0px 0px;
  cursor: pointer;
  box-shadow: 4px 4px 10px #2a302e;
  transition: box-shadow 0.01s ease 0s;
  transition: background-color 0.3s ease 0s;
  outline: none !important;
}

.popup-form._open {
  opacity: 1;
  visibility: visible;
  transition: 0.3s cubic-bezier(0.44, -0.24, 0.65, 1.38);
}
.popup-form._open .popup__content {
  animation-name: openPopup;
  animation-duration: 0.6s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  transition: all 0.5s ease 0s;
  scale: 1;
}
.popup-form._open .popup__content .popup__icon-wrap {
  animation-name: iconsTransform;
  animation-duration: 0.5s;
  animation-delay: 0.045s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}
.popup-form._open .popup__content .popup__icon-block_warning {
  animation-name: popupWarning;
  animation-duration: 0.5s;
  animation-delay: 0.095s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}

#popupFormWarning .popup__button,
#popupFormLikeSorting .popup__button,
#popupFormEmailWarning .popup__button {
  background-color: rgb(225, 169, 120);
  box-shadow: 4px 4px 10px rgb(45, 34, 24);
}
#popupFormWarning .popup__button:hover,
#popupFormLikeSorting .popup__button:hover,
#popupFormEmailWarning .popup__button:hover {
  background-color: rgb(178, 133, 94);
}
#popupFormWarning .popup__button:active,
#popupFormLikeSorting .popup__button:active,
#popupFormEmailWarning .popup__button:active {
  box-shadow: 2px 2px 6px rgb(45, 34, 24);
  outline: none;
}

#popupFormError._open .popup__content_error {
  border: 2px solid #f27474;
}
#popupFormError._open .popup__icon-block_error {
  animation-name: popupError;
  animation-duration: 0.5s;
  animation-delay: 0.085s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}
#popupFormError._open .popup__button {
  background-color: rgb(203, 97, 97);
  box-shadow: 4px 4px 10px rgb(56, 26, 26);
}
#popupFormError._open .popup__button:hover {
  background-color: rgb(154, 72, 72);
}
#popupFormError._open .popup__button:active {
  box-shadow: 2px 2px 6px rgb(56, 26, 26);
  outline: none;
}

#popupFormSuccess._open .popup__content_success {
  border: 2px solid rgb(84, 114, 97);
}
#popupFormSuccess._open .popup__content_success .popup__icon-wrap_success .popup__icon-block_success .icon-element__line_success_small {
  animation-name: popupCoolSmall;
  animation-duration: 0.5s;
  animation-delay: 0.085s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}
#popupFormSuccess._open .popup__content_success .popup__icon-wrap_success .popup__icon-block_success .icon-element__line_success_big {
  animation-name: popupCoolBig;
  animation-duration: 0.5s;
  animation-delay: 0.085s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}
#popupFormSuccess._open .popup__button {
  background-color: rgb(84, 114, 97);
  box-shadow: 4px 4px 10px #0b320e;
}
#popupFormSuccess._open .popup__button:hover {
  background-color: rgb(62, 86, 72);
}
#popupFormSuccess._open .popup__button:active {
  box-shadow: 2px 2px 6px rgb(32, 45, 38);
  outline: none;
}

@keyframes openPopup {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes iconsTransform {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes popupWarning {
  0% {
    transform: rotateZ(45deg);
    opacity: 0;
  }
  25% {
    transform: rotateZ(-25deg);
    opacity: 0.4;
  }
  50% {
    transform: rotateZ(15deg);
    opacity: 0.8;
  }
  75% {
    transform: rotateZ(-5deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes popupError {
  0% {
    margin-top: 1.625em;
    transform: scale(0.4);
    opacity: 0;
  }
  50% {
    margin-top: 1.625em;
    transform: scale(0.4);
    opacity: 0;
  }
  80% {
    margin-top: -0.375em;
    transform: scale(1.15);
  }
  100% {
    margin-top: 0;
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popupCoolSmall {
  0% {
    top: 1.1875em;
    left: 0.0625em;
    width: 0;
  }
  54% {
    top: 1.0625em;
    left: 0.125em;
    width: 0;
  }
  70% {
    top: 2.1875em;
    left: -0.375em;
    width: 3.125em;
  }
  84% {
    top: 3em;
    left: 1.3125em;
    width: 1.0625em;
  }
  100% {
    top: 2.8125em;
    left: 0.8125em;
    width: 1.5625em;
  }
}
@keyframes popupCoolBig {
  0% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }
  65% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }
  84% {
    top: 2.1875em;
    right: 0;
    width: 3.4375em;
  }
  100% {
    top: 2.375em;
    right: 0.5em;
    width: 2.9375em;
  }
}
@keyframes successCircularLine {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
#btn-home {
  display: none;
}

.btn-top-wrapper {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.top-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fefefe;
  z-index: 4;
  transform: rotate(45deg);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.top-arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 52%;
  left: 52%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-left: 2px solid #212222;
  border-top: 2px solid #212222;
  /* border-right: 2px solid ;
    border-bottom: 2px solid ; */
  box-sizing: border-box;
  transition: 0.5s;
}

.top-btn:hover {
  background-color: #2639ED;
  transition: 0.5s;
}

.top-btn:hover .top-arrow {
  border-color: #FFFFFF;
  transition: 0.5s;
}

@media (max-width: 47.99875em) {
  .btn-top-wrapper {
    position: fixed;
    right: calc(20px + 30 * (100vw - 320px) / 447.98);
    bottom: calc(20px + 30 * (100vw - 320px) / 447.98);
  }
}/*# sourceMappingURL=style.css.map */